<!DOCTYPE html>
<html>
<head>
  <title>VisitCounter</title>
  <%= stylesheet_link_tag    "visit_counter/application", :media => "all" %>
  <%= javascript_include_tag "visit_counter/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
