%li
  %label{:name => 'stylesheet'} Stylesheet for Engine
  %input{:name => 'stylesheet', :type => 'text'}
%li
  %p To access the page counts click here
  %p
    %a{herf: "/locomotive/plugins/visit_counter"}Counters List
